/* Auto-extracted from reference with background removal */
.pixel-hello-kitty.female::before {
    width: 1px; height: 1px;
    box-shadow: 
        17px 2px 0 var(--pixel-white),
        7px 3px 0 var(--pixel-black),
        8px 3px 0 var(--pixel-black),
        9px 3px 0 var(--pixel-black),
        16px 3px 0 var(--pixel-heart),
        17px 3px 0 var(--pixel-heart),
        18px 3px 0 var(--pixel-black),
        20px 3px 0 var(--pixel-black),
        21px 3px 0 var(--pixel-black),
        22px 3px 0 var(--pixel-black),
        7px 4px 0 var(--pixel-white),
        8px 4px 0 var(--pixel-white),
        9px 4px 0 var(--pixel-white),
        10px 4px 0 var(--pixel-white),
        11px 4px 0 var(--pixel-black),
        12px 4px 0 var(--pixel-black),
        13px 4px 0 var(--pixel-black),
        14px 4px 0 var(--pixel-black),
        15px 4px 0 var(--pixel-heart),
        16px 4px 0 var(--pixel-heart),
        17px 4px 0 var(--pixel-heart),
        18px 4px 0 var(--pixel-heart),
        20px 4px 0 var(--pixel-white),
        21px 4px 0 var(--pixel-white),
        22px 4px 0 var(--pixel-white),
        23px 4px 0 var(--pixel-white),
        7px 5px 0 var(--pixel-white),
        8px 5px 0 var(--pixel-white),
        9px 5px 0 var(--pixel-white),
        10px 5px 0 var(--pixel-white),
        11px 5px 0 var(--pixel-white),
        12px 5px 0 var(--pixel-white),
        13px 5px 0 var(--pixel-white),
        14px 5px 0 var(--pixel-black),
        15px 5px 0 var(--pixel-heart),
        16px 5px 0 var(--pixel-heart),
        17px 5px 0 var(--pixel-black),
        18px 5px 0 var(--pixel-black),
        19px 5px 0 var(--pixel-black),
        20px 5px 0 var(--pixel-white),
        21px 5px 0 var(--pixel-white),
        22px 5px 0 var(--pixel-white),
        23px 5px 0 var(--pixel-white),
        7px 6px 0 var(--pixel-white),
        8px 6px 0 var(--pixel-white),
        9px 6px 0 var(--pixel-white),
        10px 6px 0 var(--pixel-white),
        11px 6px 0 var(--pixel-white),
        12px 6px 0 var(--pixel-white),
        13px 6px 0 var(--pixel-white),
        14px 6px 0 var(--pixel-black),
        15px 6px 0 var(--pixel-heart),
        16px 6px 0 var(--pixel-heart),
        17px 6px 0 var(--pixel-black),
        18px 6px 0 var(--pixel-heart),
        19px 6px 0 var(--pixel-heart),
        20px 6px 0 var(--pixel-heart),
        21px 6px 0 var(--pixel-black),
        22px 6px 0 var(--pixel-heart),
        23px 6px 0 var(--pixel-black),
        7px 7px 0 var(--pixel-black),
        8px 7px 0 var(--pixel-white),
        9px 7px 0 var(--pixel-white),
        10px 7px 0 var(--pixel-white),
        11px 7px 0 var(--pixel-white),
        12px 7px 0 var(--pixel-white),
        13px 7px 0 var(--pixel-white),
        14px 7px 0 var(--pixel-white),
        15px 7px 0 var(--pixel-black),
        16px 7px 0 var(--pixel-heart),
        17px 7px 0 var(--pixel-heart),
        18px 7px 0 var(--pixel-heart),
        19px 7px 0 var(--pixel-heart),
        20px 7px 0 var(--pixel-heart),
        21px 7px 0 var(--pixel-heart),
        22px 7px 0 var(--pixel-heart),
        23px 7px 0 var(--pixel-heart),
        7px 8px 0 var(--pixel-white),
        8px 8px 0 var(--pixel-white),
        9px 8px 0 var(--pixel-white),
        10px 8px 0 var(--pixel-white),
        11px 8px 0 var(--pixel-white),
        12px 8px 0 var(--pixel-white),
        13px 8px 0 var(--pixel-white),
        14px 8px 0 var(--pixel-white),
        15px 8px 0 var(--pixel-white),
        16px 8px 0 var(--pixel-white),
        17px 8px 0 var(--pixel-white),
        18px 8px 0 var(--pixel-black),
        19px 8px 0 var(--pixel-black),
        20px 8px 0 var(--pixel-black),
        22px 8px 0 var(--pixel-heart),
        23px 8px 0 var(--pixel-heart),
        6px 9px 0 var(--pixel-black),
        7px 9px 0 var(--pixel-white),
        8px 9px 0 var(--pixel-white),
        9px 9px 0 var(--pixel-white),
        10px 9px 0 var(--pixel-white),
        11px 9px 0 var(--pixel-white),
        12px 9px 0 var(--pixel-white),
        13px 9px 0 var(--pixel-white),
        14px 9px 0 var(--pixel-white),
        15px 9px 0 var(--pixel-white),
        16px 9px 0 var(--pixel-white),
        17px 9px 0 var(--pixel-white),
        18px 9px 0 var(--pixel-white),
        19px 9px 0 var(--pixel-white),
        20px 9px 0 var(--pixel-black),
        21px 9px 0 var(--pixel-heart),
        22px 9px 0 var(--pixel-black),
        23px 9px 0 var(--pixel-black),
        6px 10px 0 var(--pixel-black),
        7px 10px 0 var(--pixel-white),
        8px 10px 0 var(--pixel-white),
        9px 10px 0 var(--pixel-white),
        10px 10px 0 var(--pixel-white),
        11px 10px 0 var(--pixel-white),
        12px 10px 0 var(--pixel-white),
        13px 10px 0 var(--pixel-white),
        14px 10px 0 var(--pixel-white),
        15px 10px 0 var(--pixel-white),
        16px 10px 0 var(--pixel-white),
        17px 10px 0 var(--pixel-white),
        18px 10px 0 var(--pixel-white),
        19px 10px 0 var(--pixel-white),
        20px 10px 0 var(--pixel-white),
        21px 10px 0 var(--pixel-white),
        22px 10px 0 var(--pixel-white),
        23px 10px 0 var(--pixel-black),
        4px 11px 0 var(--pixel-white),
        5px 11px 0 var(--pixel-white),
        6px 11px 0 var(--pixel-black),
        7px 11px 0 var(--pixel-white),
        8px 11px 0 var(--pixel-white),
        9px 11px 0 var(--pixel-white),
        10px 11px 0 var(--pixel-black),
        11px 11px 0 var(--pixel-white),
        12px 11px 0 var(--pixel-white),
        13px 11px 0 var(--pixel-white),
        14px 11px 0 var(--pixel-white),
        15px 11px 0 var(--pixel-white),
        16px 11px 0 var(--pixel-white),
        17px 11px 0 var(--pixel-white),
        18px 11px 0 var(--pixel-white),
        19px 11px 0 var(--pixel-white),
        20px 11px 0 var(--pixel-white),
        21px 11px 0 var(--pixel-white),
        22px 11px 0 var(--pixel-black),
        23px 11px 0 var(--pixel-black),
        24px 11px 0 var(--pixel-black),
        25px 11px 0 var(--pixel-black),
        6px 12px 0 var(--pixel-black),
        7px 12px 0 var(--pixel-white),
        8px 12px 0 var(--pixel-white),
        9px 12px 0 var(--pixel-white),
        10px 12px 0 var(--pixel-black),
        11px 12px 0 var(--pixel-white),
        12px 12px 0 var(--pixel-white),
        13px 12px 0 var(--pixel-white),
        14px 12px 0 var(--pixel-white),
        15px 12px 0 var(--pixel-white),
        16px 12px 0 var(--pixel-white),
        17px 12px 0 var(--pixel-white),
        18px 12px 0 var(--pixel-black),
        19px 12px 0 var(--pixel-black),
        20px 12px 0 var(--pixel-white),
        21px 12px 0 var(--pixel-white),
        22px 12px 0 var(--pixel-white),
        23px 12px 0 var(--pixel-black),
        6px 13px 0 var(--pixel-black),
        7px 13px 0 var(--pixel-white),
        8px 13px 0 var(--pixel-white),
        9px 13px 0 var(--pixel-white),
        10px 13px 0 var(--pixel-white),
        11px 13px 0 var(--pixel-white),
        12px 13px 0 var(--pixel-white),
        13px 13px 0 var(--pixel-white),
        14px 13px 0 var(--pixel-yellow),
        15px 13px 0 var(--pixel-black),
        16px 13px 0 var(--pixel-white),
        17px 13px 0 var(--pixel-white),
        18px 13px 0 var(--pixel-white),
        19px 13px 0 var(--pixel-white),
        20px 13px 0 var(--pixel-white),
        21px 13px 0 var(--pixel-white),
        22px 13px 0 var(--pixel-black),
        23px 13px 0 var(--pixel-black),
        24px 13px 0 var(--pixel-white),
        7px 14px 0 var(--pixel-black),
        8px 14px 0 var(--pixel-white),
        9px 14px 0 var(--pixel-white),
        10px 14px 0 var(--pixel-white),
        11px 14px 0 var(--pixel-white),
        12px 14px 0 var(--pixel-white),
        13px 14px 0 var(--pixel-white),
        14px 14px 0 var(--pixel-white),
        15px 14px 0 var(--pixel-white),
        16px 14px 0 var(--pixel-white),
        17px 14px 0 var(--pixel-white),
        18px 14px 0 var(--pixel-white),
        19px 14px 0 var(--pixel-white),
        20px 14px 0 var(--pixel-white),
        21px 14px 0 var(--pixel-white),
        22px 14px 0 var(--pixel-white),
        6px 15px 0 var(--pixel-white),
        7px 15px 0 var(--pixel-black),
        8px 15px 0 var(--pixel-white),
        9px 15px 0 var(--pixel-white),
        10px 15px 0 var(--pixel-white),
        11px 15px 0 var(--pixel-white),
        12px 15px 0 var(--pixel-white),
        13px 15px 0 var(--pixel-white),
        14px 15px 0 var(--pixel-white),
        15px 15px 0 var(--pixel-white),
        16px 15px 0 var(--pixel-white),
        17px 15px 0 var(--pixel-white),
        18px 15px 0 var(--pixel-white),
        19px 15px 0 var(--pixel-white),
        20px 15px 0 var(--pixel-white),
        21px 15px 0 var(--pixel-white),
        22px 15px 0 var(--pixel-black),
        23px 15px 0 var(--pixel-black),
        8px 16px 0 var(--pixel-white),
        9px 16px 0 var(--pixel-black),
        10px 16px 0 var(--pixel-white),
        11px 16px 0 var(--pixel-white),
        12px 16px 0 var(--pixel-white),
        13px 16px 0 var(--pixel-white),
        14px 16px 0 var(--pixel-white),
        15px 16px 0 var(--pixel-white),
        16px 16px 0 var(--pixel-white),
        17px 16px 0 var(--pixel-white),
        18px 16px 0 var(--pixel-white),
        19px 16px 0 var(--pixel-white),
        20px 16px 0 var(--pixel-white),
        21px 16px 0 var(--pixel-black),
        9px 17px 0 var(--pixel-white),
        10px 17px 0 var(--pixel-black),
        11px 17px 0 var(--pixel-black),
        12px 17px 0 var(--pixel-black),
        13px 17px 0 var(--pixel-black),
        14px 17px 0 var(--pixel-black),
        15px 17px 0 var(--pixel-black),
        16px 17px 0 var(--pixel-black),
        17px 17px 0 var(--pixel-black),
        18px 17px 0 var(--pixel-black),
        19px 17px 0 var(--pixel-black),
        9px 18px 0 var(--pixel-red),
        10px 18px 0 var(--pixel-red),
        11px 18px 0 var(--pixel-black),
        12px 18px 0 var(--pixel-black),
        13px 18px 0 var(--pixel-red),
        14px 18px 0 var(--pixel-red),
        15px 18px 0 var(--pixel-red),
        16px 18px 0 var(--pixel-black),
        17px 18px 0 var(--pixel-black),
        18px 18px 0 var(--pixel-red),
        19px 18px 0 var(--pixel-red),
        20px 18px 0 var(--pixel-red),
        8px 19px 0 var(--pixel-white),
        9px 19px 0 var(--pixel-white),
        10px 19px 0 var(--pixel-black),
        11px 19px 0 var(--pixel-black),
        12px 19px 0 var(--pixel-yellow),
        13px 19px 0 var(--pixel-black),
        14px 19px 0 var(--pixel-black),
        15px 19px 0 var(--pixel-black),
        16px 19px 0 var(--pixel-black),
        17px 19px 0 var(--pixel-yellow),
        18px 19px 0 var(--pixel-black),
        19px 19px 0 var(--pixel-red),
        20px 19px 0 var(--pixel-white),
        21px 19px 0 var(--pixel-white),
        7px 20px 0 var(--pixel-black),
        8px 20px 0 var(--pixel-white),
        9px 20px 0 var(--pixel-white),
        10px 20px 0 #00aaff,
        11px 20px 0 var(--pixel-black),
        12px 20px 0 var(--pixel-yellow),
        13px 20px 0 #00aaff,
        14px 20px 0 #00aaff,
        15px 20px 0 #00aaff,
        16px 20px 0 var(--pixel-black),
        17px 20px 0 var(--pixel-yellow),
        18px 20px 0 #00aaff,
        19px 20px 0 var(--pixel-black),
        20px 20px 0 var(--pixel-white),
        21px 20px 0 var(--pixel-white),
        22px 20px 0 var(--pixel-black),
        7px 21px 0 var(--pixel-black),
        8px 21px 0 var(--pixel-white),
        9px 21px 0 var(--pixel-black),
        10px 21px 0 #00aaff,
        11px 21px 0 #00aaff,
        12px 21px 0 #00aaff,
        13px 21px 0 #00aaff,
        14px 21px 0 #00aaff,
        15px 21px 0 #00aaff,
        16px 21px 0 #00aaff,
        17px 21px 0 #00aaff,
        18px 21px 0 #00aaff,
        19px 21px 0 var(--pixel-black),
        20px 21px 0 var(--pixel-white),
        21px 21px 0 var(--pixel-white),
        22px 21px 0 var(--pixel-black),
        8px 22px 0 var(--pixel-black),
        9px 22px 0 var(--pixel-black),
        10px 22px 0 #00aaff,
        11px 22px 0 #00aaff,
        12px 22px 0 #00aaff,
        13px 22px 0 #00aaff,
        14px 22px 0 #00aaff,
        15px 22px 0 #00aaff,
        16px 22px 0 #00aaff,
        17px 22px 0 #00aaff,
        18px 22px 0 #00aaff,
        19px 22px 0 var(--pixel-black),
        20px 22px 0 var(--pixel-black),
        21px 22px 0 var(--pixel-black),
        9px 23px 0 var(--pixel-black),
        10px 23px 0 #00aaff,
        11px 23px 0 #00aaff,
        12px 23px 0 #00aaff,
        13px 23px 0 #00aaff,
        14px 23px 0 var(--pixel-black),
        15px 23px 0 #00aaff,
        16px 23px 0 #00aaff,
        17px 23px 0 #00aaff,
        18px 23px 0 #00aaff,
        19px 23px 0 #00aaff,
        20px 23px 0 var(--pixel-black),
        9px 24px 0 var(--pixel-black),
        10px 24px 0 var(--pixel-black),
        11px 24px 0 var(--pixel-black),
        12px 24px 0 var(--pixel-black),
        13px 24px 0 var(--pixel-black),
        14px 24px 0 var(--pixel-black),
        15px 24px 0 var(--pixel-black),
        16px 24px 0 var(--pixel-black),
        17px 24px 0 var(--pixel-black),
        18px 24px 0 var(--pixel-black),
        19px 24px 0 var(--pixel-black),
        20px 24px 0 var(--pixel-black),
        9px 25px 0 var(--pixel-black),
        10px 25px 0 var(--pixel-white),
        11px 25px 0 var(--pixel-white),
        12px 25px 0 var(--pixel-white),
        13px 25px 0 var(--pixel-white),
        14px 25px 0 var(--pixel-black),
        15px 25px 0 var(--pixel-white),
        16px 25px 0 var(--pixel-white),
        17px 25px 0 var(--pixel-white),
        18px 25px 0 var(--pixel-white),
        19px 25px 0 var(--pixel-white),
        20px 25px 0 var(--pixel-black),
        10px 26px 0 var(--pixel-white),
        11px 26px 0 var(--pixel-white),
        12px 26px 0 var(--pixel-white),
        13px 26px 0 var(--pixel-white),
        14px 26px 0 var(--pixel-black),
        15px 26px 0 var(--pixel-white),
        16px 26px 0 var(--pixel-white),
        17px 26px 0 var(--pixel-white),
        18px 26px 0 var(--pixel-white),
        19px 26px 0 var(--pixel-black);
}

.pixel-hello-kitty.male::before {
    width: 1px; height: 1px;
    box-shadow: 
        17px 2px 0 var(--pixel-white),
        7px 3px 0 var(--pixel-black),
        8px 3px 0 var(--pixel-black),
        9px 3px 0 var(--pixel-black),
        18px 3px 0 var(--pixel-black),
        20px 3px 0 var(--pixel-black),
        21px 3px 0 var(--pixel-black),
        22px 3px 0 var(--pixel-black),
        7px 4px 0 var(--pixel-white),
        8px 4px 0 var(--pixel-white),
        9px 4px 0 var(--pixel-white),
        10px 4px 0 var(--pixel-white),
        11px 4px 0 var(--pixel-black),
        12px 4px 0 var(--pixel-black),
        13px 4px 0 var(--pixel-black),
        14px 4px 0 var(--pixel-black),
        20px 4px 0 var(--pixel-white),
        21px 4px 0 var(--pixel-white),
        22px 4px 0 var(--pixel-white),
        23px 4px 0 var(--pixel-white),
        7px 5px 0 var(--pixel-white),
        8px 5px 0 var(--pixel-white),
        9px 5px 0 var(--pixel-white),
        10px 5px 0 var(--pixel-white),
        11px 5px 0 var(--pixel-white),
        12px 5px 0 var(--pixel-white),
        13px 5px 0 var(--pixel-white),
        14px 5px 0 var(--pixel-black),
        17px 5px 0 var(--pixel-black),
        18px 5px 0 var(--pixel-black),
        19px 5px 0 var(--pixel-black),
        20px 5px 0 var(--pixel-white),
        21px 5px 0 var(--pixel-white),
        22px 5px 0 var(--pixel-white),
        23px 5px 0 var(--pixel-white),
        7px 6px 0 var(--pixel-white),
        8px 6px 0 var(--pixel-white),
        9px 6px 0 var(--pixel-white),
        10px 6px 0 var(--pixel-white),
        11px 6px 0 var(--pixel-white),
        12px 6px 0 var(--pixel-white),
        13px 6px 0 var(--pixel-white),
        14px 6px 0 var(--pixel-black),
        17px 6px 0 var(--pixel-black),
        21px 6px 0 var(--pixel-black),
        23px 6px 0 var(--pixel-black),
        7px 7px 0 var(--pixel-black),
        8px 7px 0 var(--pixel-white),
        9px 7px 0 var(--pixel-white),
        10px 7px 0 var(--pixel-white),
        11px 7px 0 var(--pixel-white),
        12px 7px 0 var(--pixel-white),
        13px 7px 0 var(--pixel-white),
        14px 7px 0 var(--pixel-white),
        15px 7px 0 var(--pixel-black),
        7px 8px 0 var(--pixel-white),
        8px 8px 0 var(--pixel-white),
        9px 8px 0 var(--pixel-white),
        10px 8px 0 var(--pixel-white),
        11px 8px 0 var(--pixel-white),
        12px 8px 0 var(--pixel-white),
        13px 8px 0 var(--pixel-white),
        14px 8px 0 var(--pixel-white),
        15px 8px 0 var(--pixel-white),
        16px 8px 0 var(--pixel-white),
        17px 8px 0 var(--pixel-white),
        18px 8px 0 var(--pixel-black),
        19px 8px 0 var(--pixel-black),
        20px 8px 0 var(--pixel-black),
        6px 9px 0 var(--pixel-black),
        7px 9px 0 var(--pixel-white),
        8px 9px 0 var(--pixel-white),
        9px 9px 0 var(--pixel-white),
        10px 9px 0 var(--pixel-white),
        11px 9px 0 var(--pixel-white),
        12px 9px 0 var(--pixel-white),
        13px 9px 0 var(--pixel-white),
        14px 9px 0 var(--pixel-white),
        15px 9px 0 var(--pixel-white),
        16px 9px 0 var(--pixel-white),
        17px 9px 0 var(--pixel-white),
        18px 9px 0 var(--pixel-white),
        19px 9px 0 var(--pixel-white),
        20px 9px 0 var(--pixel-black),
        22px 9px 0 var(--pixel-black),
        23px 9px 0 var(--pixel-black),
        6px 10px 0 var(--pixel-black),
        7px 10px 0 var(--pixel-white),
        8px 10px 0 var(--pixel-white),
        9px 10px 0 var(--pixel-white),
        10px 10px 0 var(--pixel-white),
        11px 10px 0 var(--pixel-white),
        12px 10px 0 var(--pixel-white),
        13px 10px 0 var(--pixel-white),
        14px 10px 0 var(--pixel-white),
        15px 10px 0 var(--pixel-white),
        16px 10px 0 var(--pixel-white),
        17px 10px 0 var(--pixel-white),
        18px 10px 0 var(--pixel-white),
        19px 10px 0 var(--pixel-white),
        20px 10px 0 var(--pixel-white),
        21px 10px 0 var(--pixel-white),
        22px 10px 0 var(--pixel-white),
        23px 10px 0 var(--pixel-black),
        4px 11px 0 var(--pixel-white),
        5px 11px 0 var(--pixel-white),
        6px 11px 0 var(--pixel-black),
        7px 11px 0 var(--pixel-white),
        8px 11px 0 var(--pixel-white),
        9px 11px 0 var(--pixel-white),
        10px 11px 0 var(--pixel-black),
        11px 11px 0 var(--pixel-white),
        12px 11px 0 var(--pixel-white),
        13px 11px 0 var(--pixel-white),
        14px 11px 0 var(--pixel-white),
        15px 11px 0 var(--pixel-white),
        16px 11px 0 var(--pixel-white),
        17px 11px 0 var(--pixel-white),
        18px 11px 0 var(--pixel-white),
        19px 11px 0 var(--pixel-white),
        20px 11px 0 var(--pixel-white),
        21px 11px 0 var(--pixel-white),
        22px 11px 0 var(--pixel-black),
        23px 11px 0 var(--pixel-black),
        24px 11px 0 var(--pixel-black),
        25px 11px 0 var(--pixel-black),
        6px 12px 0 var(--pixel-black),
        7px 12px 0 var(--pixel-white),
        8px 12px 0 var(--pixel-white),
        9px 12px 0 var(--pixel-white),
        10px 12px 0 var(--pixel-black),
        11px 12px 0 var(--pixel-white),
        12px 12px 0 var(--pixel-white),
        13px 12px 0 var(--pixel-white),
        14px 12px 0 var(--pixel-white),
        15px 12px 0 var(--pixel-white),
        16px 12px 0 var(--pixel-white),
        17px 12px 0 var(--pixel-white),
        18px 12px 0 var(--pixel-black),
        19px 12px 0 var(--pixel-black),
        20px 12px 0 var(--pixel-white),
        21px 12px 0 var(--pixel-white),
        22px 12px 0 var(--pixel-white),
        23px 12px 0 var(--pixel-black),
        6px 13px 0 var(--pixel-black),
        7px 13px 0 var(--pixel-white),
        8px 13px 0 var(--pixel-white),
        9px 13px 0 var(--pixel-white),
        10px 13px 0 var(--pixel-white),
        11px 13px 0 var(--pixel-white),
        12px 13px 0 var(--pixel-white),
        13px 13px 0 var(--pixel-white),
        14px 13px 0 var(--pixel-yellow),
        15px 13px 0 var(--pixel-black),
        16px 13px 0 var(--pixel-white),
        17px 13px 0 var(--pixel-white),
        18px 13px 0 var(--pixel-white),
        19px 13px 0 var(--pixel-white),
        20px 13px 0 var(--pixel-white),
        21px 13px 0 var(--pixel-white),
        22px 13px 0 var(--pixel-black),
        23px 13px 0 var(--pixel-black),
        24px 13px 0 var(--pixel-white),
        7px 14px 0 var(--pixel-black),
        8px 14px 0 var(--pixel-white),
        9px 14px 0 var(--pixel-white),
        10px 14px 0 var(--pixel-white),
        11px 14px 0 var(--pixel-white),
        12px 14px 0 var(--pixel-white),
        13px 14px 0 var(--pixel-white),
        14px 14px 0 var(--pixel-white),
        15px 14px 0 var(--pixel-white),
        16px 14px 0 var(--pixel-white),
        17px 14px 0 var(--pixel-white),
        18px 14px 0 var(--pixel-white),
        19px 14px 0 var(--pixel-white),
        20px 14px 0 var(--pixel-white),
        21px 14px 0 var(--pixel-white),
        22px 14px 0 var(--pixel-white),
        6px 15px 0 var(--pixel-white),
        7px 15px 0 var(--pixel-black),
        8px 15px 0 var(--pixel-white),
        9px 15px 0 var(--pixel-white),
        10px 15px 0 var(--pixel-white),
        11px 15px 0 var(--pixel-white),
        12px 15px 0 var(--pixel-white),
        13px 15px 0 var(--pixel-white),
        14px 15px 0 var(--pixel-white),
        15px 15px 0 var(--pixel-white),
        16px 15px 0 var(--pixel-white),
        17px 15px 0 var(--pixel-white),
        18px 15px 0 var(--pixel-white),
        19px 15px 0 var(--pixel-white),
        20px 15px 0 var(--pixel-white),
        21px 15px 0 var(--pixel-white),
        22px 15px 0 var(--pixel-black),
        23px 15px 0 var(--pixel-black),
        8px 16px 0 var(--pixel-white),
        9px 16px 0 var(--pixel-black),
        10px 16px 0 var(--pixel-white),
        11px 16px 0 var(--pixel-white),
        12px 16px 0 var(--pixel-white),
        13px 16px 0 var(--pixel-white),
        14px 16px 0 var(--pixel-white),
        15px 16px 0 var(--pixel-white),
        16px 16px 0 var(--pixel-white),
        17px 16px 0 var(--pixel-white),
        18px 16px 0 var(--pixel-white),
        19px 16px 0 var(--pixel-white),
        20px 16px 0 var(--pixel-white),
        21px 16px 0 var(--pixel-black),
        9px 17px 0 var(--pixel-white),
        10px 17px 0 var(--pixel-black),
        11px 17px 0 var(--pixel-black),
        12px 17px 0 var(--pixel-black),
        13px 17px 0 var(--pixel-black),
        14px 17px 0 var(--pixel-black),
        15px 17px 0 var(--pixel-black),
        16px 17px 0 var(--pixel-black),
        17px 17px 0 var(--pixel-black),
        18px 17px 0 var(--pixel-black),
        19px 17px 0 var(--pixel-black),
        9px 18px 0 var(--pixel-red),
        10px 18px 0 var(--pixel-red),
        11px 18px 0 var(--pixel-black),
        12px 18px 0 var(--pixel-black),
        13px 18px 0 var(--pixel-red),
        14px 18px 0 var(--pixel-red),
        15px 18px 0 var(--pixel-red),
        16px 18px 0 var(--pixel-black),
        17px 18px 0 var(--pixel-black),
        18px 18px 0 var(--pixel-red),
        19px 18px 0 var(--pixel-red),
        20px 18px 0 var(--pixel-red),
        8px 19px 0 var(--pixel-white),
        9px 19px 0 var(--pixel-white),
        10px 19px 0 var(--pixel-black),
        11px 19px 0 var(--pixel-black),
        12px 19px 0 var(--pixel-yellow),
        13px 19px 0 var(--pixel-black),
        14px 19px 0 var(--pixel-black),
        15px 19px 0 var(--pixel-black),
        16px 19px 0 var(--pixel-black),
        17px 19px 0 var(--pixel-yellow),
        18px 19px 0 var(--pixel-black),
        19px 19px 0 var(--pixel-red),
        20px 19px 0 var(--pixel-white),
        21px 19px 0 var(--pixel-white),
        7px 20px 0 var(--pixel-black),
        8px 20px 0 var(--pixel-white),
        9px 20px 0 var(--pixel-white),
        10px 20px 0 #00aaff,
        11px 20px 0 var(--pixel-black),
        12px 20px 0 var(--pixel-yellow),
        13px 20px 0 #00aaff,
        14px 20px 0 #00aaff,
        15px 20px 0 #00aaff,
        16px 20px 0 var(--pixel-black),
        17px 20px 0 var(--pixel-yellow),
        18px 20px 0 #00aaff,
        19px 20px 0 var(--pixel-black),
        20px 20px 0 var(--pixel-white),
        21px 20px 0 var(--pixel-white),
        22px 20px 0 var(--pixel-black),
        7px 21px 0 var(--pixel-black),
        8px 21px 0 var(--pixel-white),
        9px 21px 0 var(--pixel-black),
        10px 21px 0 #00aaff,
        11px 21px 0 #00aaff,
        12px 21px 0 #00aaff,
        13px 21px 0 #00aaff,
        14px 21px 0 #00aaff,
        15px 21px 0 #00aaff,
        16px 21px 0 #00aaff,
        17px 21px 0 #00aaff,
        18px 21px 0 #00aaff,
        19px 21px 0 var(--pixel-black),
        20px 21px 0 var(--pixel-white),
        21px 21px 0 var(--pixel-white),
        22px 21px 0 var(--pixel-black),
        8px 22px 0 var(--pixel-black),
        9px 22px 0 var(--pixel-black),
        10px 22px 0 #00aaff,
        11px 22px 0 #00aaff,
        12px 22px 0 #00aaff,
        13px 22px 0 #00aaff,
        14px 22px 0 #00aaff,
        15px 22px 0 #00aaff,
        16px 22px 0 #00aaff,
        17px 22px 0 #00aaff,
        18px 22px 0 #00aaff,
        19px 22px 0 var(--pixel-black),
        20px 22px 0 var(--pixel-black),
        21px 22px 0 var(--pixel-black),
        9px 23px 0 var(--pixel-black),
        10px 23px 0 #00aaff,
        11px 23px 0 #00aaff,
        12px 23px 0 #00aaff,
        13px 23px 0 #00aaff,
        14px 23px 0 var(--pixel-black),
        15px 23px 0 #00aaff,
        16px 23px 0 #00aaff,
        17px 23px 0 #00aaff,
        18px 23px 0 #00aaff,
        19px 23px 0 #00aaff,
        20px 23px 0 var(--pixel-black),
        9px 24px 0 var(--pixel-black),
        10px 24px 0 var(--pixel-black),
        11px 24px 0 var(--pixel-black),
        12px 24px 0 var(--pixel-black),
        13px 24px 0 var(--pixel-black),
        14px 24px 0 var(--pixel-black),
        15px 24px 0 var(--pixel-black),
        16px 24px 0 var(--pixel-black),
        17px 24px 0 var(--pixel-black),
        18px 24px 0 var(--pixel-black),
        19px 24px 0 var(--pixel-black),
        20px 24px 0 var(--pixel-black),
        9px 25px 0 var(--pixel-black),
        10px 25px 0 var(--pixel-white),
        11px 25px 0 var(--pixel-white),
        12px 25px 0 var(--pixel-white),
        13px 25px 0 var(--pixel-white),
        14px 25px 0 var(--pixel-black),
        15px 25px 0 var(--pixel-white),
        16px 25px 0 var(--pixel-white),
        17px 25px 0 var(--pixel-white),
        18px 25px 0 var(--pixel-white),
        19px 25px 0 var(--pixel-white),
        20px 25px 0 var(--pixel-black),
        10px 26px 0 var(--pixel-white),
        11px 26px 0 var(--pixel-white),
        12px 26px 0 var(--pixel-white),
        13px 26px 0 var(--pixel-white),
        14px 26px 0 var(--pixel-black),
        15px 26px 0 var(--pixel-white),
        16px 26px 0 var(--pixel-white),
        17px 26px 0 var(--pixel-white),
        18px 26px 0 var(--pixel-white),
        19px 26px 0 var(--pixel-black);
}
